
body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
  

@font-face{   /* Sjekk om dette stemmer*/
    font-family:'Montserrat';
    src: url(../assets/fonts/Montserrat-Bold.ttf)
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 4rem;  
}

h2{
    font-size: 2.2rem ;
}


